// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #474747;
$light-gray: #BFBFBF;

// team colours:

$purple: #CC5B50;
$dark-purple: #571814;
$light-purple: #D9877F;
$lightest-purple: #ffe5e2;
$alisa-purple: #ED7C65;
