html, body {
  width: 100vw;
}

.c-ingredient-row {
  margin-top: 3%;
  font-size: 25px;
  align-items: flex-end;
  height: 40px;
}

.c-ingredient-icon {
  font-size: 30px;
  margin-left: 30px;
  color: #798EF0;
}

.c-ingredient-name {
  text-align: center;
  margin-left: -30px;
  margin-top: 2px;
  font-size: 20px;
}

.c-ingredient-underline-row {
  width: 90%;
  margin: 0 auto;
  margin-top: 1px;
  height: 2px;
  background-image: linear-gradient(to right, white, blue, white);
}

 // width: 90%;
 //  margin: 0 auto;
 //  // border: 1px blue solid;
 //  // border-radius: 8px;
