.match-container {
  display: flex;
  flex-direction: row;
}

body {
  background-color: white;
}


  .icon {
    font-size: 2em;
    margin-top: 20px;
  }

.ings {

}

.ingredient {
  margin-right: 2px;
  margin-left: 2px;
  outline-style: solid;
}

.image {
  height: 400px;
  width: 100%;
  crop: fill;
}
