.match-container {
  display: flex;
  flex-direction: row;
}


.icon {
  font-size: 2em;
  margin-top: 20px;
}


.ingredient {
  margin-right: 2px;
  margin-left: 2px;
  outline-style: solid;
}

.image {
  height: 400px;
  width: 100%;
  crop: fill;
}

.purple-text{
  color: $purple;
}

.user-aligner {
  align-self: baseline;
  align-items: center;
}

.new-one {
  display: flex;
  margin-top: 18px;
  justify-content: center;
}

.new-two {
  margin-top: 14px;
}
