html, body {
  width: 100vw;
}

.page-new-vote {
  width: 100vw;
  height: 100vh;
}

.light-bulb-icon {
  width: 60px;
  color: #092EFF;
  margin-top: 5%;
}

.ingredient-row {
  margin-top: 3%;
  font-size: 25px;
  align-items: flex-end;
  height: 70px;
}

.ingredient-icon {
  font-size: 30px;
  margin-left: 30px;
  color: #798EF0;
}

.ingredient-name {
  text-align: center;
  margin-left: -30px;
  font-size: 24px;
}

.ingredient-underline-row {
  width: 90%;
  margin: 0 auto;
  border: 1px $purple solid;
  border-radius: 8px;
  color: #092EFF;
}

.creative-vote-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
}

.creative-vote-footer > div {
  flex-grow: 1;
  // border: 2px solid $purple;
  text-align: center;
  margin: 0px;
  height: 100px;
}

.user-photo {
  width: 100%;
  margin-top: 20%;
}

.comment-row {
  background-color: #EEEEEE;
  width: 70%;
  border-radius: 10px;
  display: flex;
  margin: 20px;
  padding: 16px;
  text-align: center;
  p {
    margin: 0;  }
  }

  .checkmark-row {
    font-size: 60px;
    color: #092EFF;
  }

  .nav-challenge-info {
    display: flex;
    position: fixed;
  }

.fa-chevron-left {
  margin: 10px;
}
