
<div class="container">
<%=  simple_form_for(user, url: profile_path(user), method: 'patch') do |f|%>
  <%= f.input :username, :label => "Enter a new username:" %>
  <%= f.input :photo, :label => "Upload a new photo:" %>
  <%= f.submit :label => "Submit" %>
<% end  %>
</div>
