<div class="row justify-content-center">
  <a href="http://localhost:3000/challenges"><i class="fas fa-chevron-left back"></i></a>
  <h1 style="color:blue">New Challenge</h1>
</div>
<br>
<div class="d-flex justify-content-center">
  <div id="challenger" class="mx-5">
    <h5>Gen</h5>
    <img src="https://www.unh.edu/unhtoday/sites/default/files/styles/article_huge/public/article/2019/professional_woman_headshot.jpg?itok=3itzxHXh" alt="" class="avatar">
  </div>
  <h2 class="my-5">VS</h2>
  <div class="mx-5">
    <img src="https://www.unh.edu/unhtoday/sites/default/files/styles/article_huge/public/article/2019/professional_woman_headshot.jpg?itok=3itzxHXh" alt="" class="avatar">
    <h5 id="opponent" data-user=''>Opponent</h5>
  </div>.
</div>
</div>
<div class="row">
  <div class="offset-1 col-2">
    <div class="numberCircle"><strong>1.</strong></div>
  </div>
  <div>
    <h2>Choose your Opponent</h2>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("search", id: 'search-users') %>
  </div>
</div>
<div class="row">
  <div class="offset-1 col-2">
    <div class="numberCircle"><strong>2.</strong></div>
  </div>
  <h2>Choose your Mode</h2>
</div>
<div class="row justify-content-center">
  <div class="radio-toolbar d-flex">
    <div class="justify-content-center">
      <input hidden='true' type="radio" id="classic" name="RadioFruit" value="classicStuff">
      <label for="classic">
        <i class="fas fa-utensils"></i>
      </label>
      <h5><strong>Classic</strong></h5>
    </div>
    <div class="justify-content-center">
      <input hidden='true' type="radio" id="creative" name="RadioFruit" value="creativeStuff">
      <label for="creative">
        <i class="fas fa-carrot"></i>
      </label>
      <h5><strong>Creative</strong></h5>
    </div>
  </div>
</div>

    <div class="btn btn-primary" id="selector">
    Get Cookin'
    </div>


<%= link_to "get cooking", challenges_path, method: :post, class: "sneaky-btn" %>

  <script>
    function displayName(opponent) {
      let otherGuy = document.getElementById("opponent");

      otherGuy.innerHTML = opponent.username;
      otherGuy.dataset.user =  opponent.id
    }

    let searchButton = document.querySelector('#search-users');

    searchButton.addEventListener('click', () => {
      let query = document.querySelector('#search');
      fetch('http://localhost:3000/take_user' + '?q=' + query.value)
      .then(res => res.json())
      .then((data) =>  {
        if(data.ok){
          displayName(data.user[0])
        }
      });
    })

    let submitButton = document.querySelector("#selector")

    submitButton.addEventListener('click', () => {
      handleChallenge()
    })

    let handleChallenge = () => {
      let challenger = <%= current_user.id %>;
      let opponent = document.getElementById("opponent");
      opponent = opponent.dataset.user;
      let isChecked = document.getElementById('classic').checked;
      mode = isChecked ? 'classic' : 'creative';
      let ninja = `/challenges?challenger=${challenger}&opponent=${opponent}&mode=${mode}`
      let target = document.querySelector('.sneaky-btn')
      target.href = ninja;
      target.click()
    }

  </script>
