<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>Serve It Wile It's Hot!</h1>

      <%= render 'form', serve: @serve %>

      <br>

      <%= link_to 'Back', challenge_path(@challenge), class:'btn btn-light'  %>
    </div>
  </div>
</div>
