<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="d-flex justify-content-center m-3">Serve UP!</h1>

      <br>

      <%= render 'form', serve: @serve %>

      <br>

      <%= link_to 'Back', challenge_path(@challenge), class:'btn btn-outline-dark col-6 offset-3'  %>
    </div>
  </div>
</div>
