.btn-purple {
  display: flex;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $purple;
  transition: background 0.3s ease;
}

.c-btn-purple {
  display: flex;
  color: white;
  padding: 8px 4px;
  border-radius: 4px;
  background: $purple;
  transition: background 0.3s ease;
  font-weight: bold;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.btn-purple:hover {
  background: $light-purple;
  color: white;
}

.c-btn-purple:hover {
  background: $light-purple;
  color: white;
}
