.show-container {
  max-width: 380px;
  max-height: 750px;
}

#serve-page {
  background-image: url('back5.jpg');
  background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.2)), url('back5.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
