.top-logo {
  display: flex;
  justify-content: center;
  height: 80px;
  img {
    object-fit: cover;
  }
}

#dashboard-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.4)), image-url('back5.jpg');
  background-size: cover;

}

.logo-on-top {
  margin-top: 20px;
}

#dashboard-contents {
  flex-grow: 1;
  margin-top: 28px;
}

#dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  position: sticky;
  bottom: 0;
}

#challenge-header {
  font-size: 24px;
  text-align: center;
  color: $gray;
}

.challenge-roller-box h2 {
  margin-top: 16px;
  font-size: 20px;
  text-decoration: none;
}

.card-list {
  overflow-x: scroll;
  width: 100%;
  min-height: 120px;
  margin: 8px 4px;
  display: flex;
  border-radius: 8px;
  // background-color: #e5e5e5;
}

.card-list {
  a:hover, a:active, a:focus {
    text-decoration: none;
  }
}

.dash-challenge-card {
  background-color: white;
  border-radius: 8px;
  border: 1.4px solid $alisa-purple;
  margin-right: 16px;
  min-width: 150px;
  height: 120px;
  padding: 8px;
  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
      color: $dark-purple;
    }
  }
}

.icon-clicker {
  font-size: 26px;
}
.fa-check-circle {
  color: $purple;
}
.fa-times-circle {
  color: $dark-purple;
}

#check-box-icon {
  font-size: 26px;
}

#vote-button-votables {
  position: relative;
  display: inline-block;
}

#vote-count-badge {
  position: absolute;
  right: -10px;
  top: -3px;
  background: $purple;
  text-align: center;
  border-radius: 50%;
  color: white;
  padding: 4px 10px;
  font-size: 13px;
}

.dim-opacity {
  opacity: 0.8;
}

.pending-card-status {
  bottom: 8px;
  position: relative;
  left: 13px;
  color: gray !important;
  font-size: 13px;
}

.pending-card-icon {
  height: 48px;
}

.pending-card-mode {
  line-height: 15px;
  position: relative;
  top: 3px;
}
