.back{
  font-size: 30px;
  margin-right: 20px;
  margin-top: 8px;
  color: $purple;
}


.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: transparent;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-radius: 4px;
    i {
      font-size: 6em;
      width: 145px;
      line-height: 140px;
      border-radius: 50%;
      text-align: center;
      border: 2px solid #666;
    }
}

.radio-toolbar label:hover {
  // background-color: #dfd;
}

.radio-toolbar input[type="radio"] + label {
    i {
      color: black;
    }
}

.radio-toolbar input[type="radio"]:checked + label {
    i {
      color: $purple;
    }
}



input[type='radio']{
  display: none;
}



